.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-img {
  max-width: 120px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-w {
  width: 50% !important;
  max-width: none !important;
}

.input-group-text {
  font-size: 1.5rem !important;
}

.svg-inline--fa {
  color: white
}
.fa-xmark:hover {
  cursor: pointer;
}

img {
  vertical-align: bottom
}

.start-25 {
  left: 25% !important;
}